body{
    font-size: 1rem;
    padding-bottom: 100px;
}

a{
    font-family: 'Raleway', sans-serif !important;
    color: #49484A;
    font-weight: bold;
    font-size: 23px;
}

.our-mission{
    margin-top: 50px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
}

h4 {
    font-family: 'Playfair Display', serif;
}

.container-fluid p:first-of-type{
    font-family: 'Raleway', sans-serif !important;
}

p{
    font-family: 'Playfair Display', serif;
}

#mission{
    color: #E2252B;
}


/*new card*/

.profile-card {
    position: relative;
    box-shadow: 0px 3px 6px rgba(0,0,0,.05);
    font-family: 'Playfair Display', sans-serif;
}

.profile-card .btn-edit {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    font-size: 1.4rem;
}

.profile-card .profile-picture {
    width: 7.4rem;
    height: 7.4rem;
    object-fit:cover;
}

.profile-card .quote-text {
    font-size: .85rem;
    line-height: 1.55rem;
}

.profile-card .social-section {
    margin-top: 1rem;
}

.profile-card .social-section a {
    font-size: 1rem;
    line-height: 2.15rem;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
    border-radius: 50%;
    margin: 0 .5rem;
}

.profile-card .social-section a:hover {
    background-color: #E2252B;
    border-color: #E2252B;
    color: #fff;
}

