.row{
    margin-top: 90px;
}

.img{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

a{
    font-family: 'Raleway', sans-serif !important;
    color: #49484A;
    font-weight: bold;
    font-size: 23px;
}



.text-center{
    margin-top: 50px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
}

.container-fluid p:first-of-type{
    font-family: 'Raleway', sans-serif !important;
}

p{
    font-family: 'Playfair Display', serif;
}

#mission{
    color: #E2252B;
}

/*SMALL SCREEN*/
@media screen and (max-width:550px) {
    .img{
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        height: 130px;
        width: 130px;
    }

}
