html{
  padding-bottom: 100px;
}

body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}


/*for the COMMENTS*/
.comment{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

#leave-comment{
    width: 500px !important;
}

#user-comments{
    background-color: #ececec;
    border-radius: 10px !important;
    border: 1px solid #ececec;
    width: 200px;
    padding-left: 5px;
}

/*BUTTONS*/
#delete-comment-btn{
    font-size: 13px;
    float: right;
}

#comment-edit-btn{
    font-size: 13px;
    float: right;
}

#submit-btn-2{
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    background-color: dimgrey;
    border: 1px solid dimgray;
    border-radius: 4px !important;
}


/*.profile-usertitle {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.profile-usertitle-name {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    font-size: 2em;*/
/*    margin-bottom: 7px;*/
/*}*/

/*.profile-usertitle-job {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    text-transform: uppercase;*/
/*    color: red;*/
/*    font-size: 1.5em;*/
/*    margin-bottom: 15px;*/
/*}*/

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    background-color: dimgrey;
    border: 1px solid dimgray;
    border-radius: 4px !important;
}








.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}






















a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.portlet {
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 4px;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.uppercase {
    text-transform: uppercase!important;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.profile-desc-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    /*font-weight: 600;*/
}
.profile-desc-text {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}
.margin-top-20 {
    margin-top: 20px!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}

