html{
  padding-bottom: 100px;
}

body {
    background-color: whitesmoke;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    width: auto;
    height: 450px
}



/*BUTTONS*/

.btn {
   padding-right: 4px;
    padding-left: 7px;
    border-top-width: 6px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
}

.profile-userbuttons .btn {
    font-size: 13px;
    padding: 10px 17px;
    margin-right: 5px;
    background-color: dimgrey;
    border: 1px solid dimgray;
    border-radius: 4px !important;
    transition: .3s all ease;
}

.profile-userbuttons .btn:hover{
    background-color: #ad0d0d;
    color: white;
    transition: .3s all ease;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.users-comment-box {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #3AAA64;
    border-radius: 1.25rem!important;
    margin-left: 15px;
}

.not-users-comment-box {
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: dimgrey;
    border-radius: 1.25rem!important;
    margin-left: 15px;
}

.comment-text {
    color: white;
}

.comment{
    bottom: -25px;
    width: 500px;
    position: absolute;
    border-radius: 1rem!important;
}

ul {
    list-style: none;
}

.border {
    border: 2em black;
    height: 75%;
}






















a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.dashboard-stat, .portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.portlet {
    margin-top: 7px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 4px;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.profile-desc-title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}
.profile-desc-text {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}




