/*LARGE SCREEN STYLE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 6.5rem !important;
    color: #49484A;
}

span{
    color: #E2252B;
}

p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
}

#quote{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E2252B;
}

a{
    font-family: 'Raleway', sans-serif;
}

.jumbotron{
    padding: 2rem 2rem !important;
}

#top-line{
    margin-top: 72px;
}


#index-jumbotron{
    border-bottom: 3px solid #A4A3A4;
    margin-bottom: 0px;
}

#container-id{
    padding-top: 15px;
    padding-bottom: 20px;
}

.img{
    width: 390px;
    height: 360px;
}

/*SMALL SCREEN*/
@media screen and (min-width:300px) and (max-width:550px) {
  .img{
      width: 120px;
      height: 190px;
  }

    h1{
        font-size: 2.5rem !important;
    }

    p{
        font-size: 14px;
    }
}

/*MED TO SMALL SCREEN*/
@media screen and (min-width:550px) and (max-width:780px) {
    .img{
        width: 235px;
        height: 300px;
    }

    h1{
        font-size: 5rem !important;
    }

    p{
        font-size: 17px;
    }
}


/*MED TO LORGE*/
@media screen and (min-width:780px) and (max-width:900px){
    .img{
        width: 265px;
        height: 340px;
    }
}


/*LORGE SCREEN*/
@media screen and (min-width:900px) and (max-width:1000px){
    img{
        width: 425px;
        height: 450px;
    }
}


/*VERY LORGE SCREEN*/
@media screen and (min-width:1200px) {
    .img{
        width: 450px;
        height: 400px;
    }
}
