/*LARGE SCREEN STYLE*/

h1{
    font-family: 'Playfair Display', serif;
    font-size: 6.5rem !important;
    color: #49484A;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #A74115;
}

a{
    font-family: 'Raleway', sans-serif;
}

.jumbotron{
    padding-top: 110px;
}

#top-line{
    margin-top: 72px;
}

#index-navbar {
    border-bottom: 3px solid #A4A3A4;
}

#index-jumbotron{
    border-bottom: 3px solid #A4A3A4;
    border-left: 6px solid #A4A3A4;
    border-right: 6px solid #A4A3A4;
}

#container-id{
    padding-top: 15px;
    padding-bottom: 20px;
}


/*SMALL SCREEN STYLE*/

#smLinks{
    display: flex;
    flex-direction: column;
    font-size: 80px;
    margin-top: 250px;
}

.link{
    margin-bottom: 170px;
    color: #49484A;
}

#smHead{
    margin-top: 50px;
    font-size: 130px;
    font-family: 'Playfair Display', serif;
    color: #49484A;
    margin-bottom: 20px;
}

#heart{
    font-size: 130px;
    font-family: 'Playfair Display', serif;
    color: #A74115;
}

#smText{
    font-size: 30px;
    color: #49484A;
    border-bottom: 5px solid #A74115;
    padding-bottom: 50px;
}