html {
    padding-bottom: 100px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem !important;
    color: #49484A;
}

#animal-jumbotron {
    box-sizing: border-box;
    border-bottom: 2px solid #49484A;
    border-radius: 2px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

div > .jumbotron {
    padding: 1em;
    color: #49484A;
}

