@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html, body {
    font-family: 'Playfair Display', sans-serif;
    background: #fafafa;
    min-height: 100vh;
}

p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

#index-navbar{
    font-family: 'Playfair Display', serif;
    color: #49484A;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#map {
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    background-color: grey;
    z-index: 100;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 85vh;
    max-height: 85vh;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100%;
    max-height: 100%;
    transition: all 0.4s;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: -300px;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #f5f5f5;
    border-bottom: 5px solid #A24848;
}

#sidebar div.components {
    padding: 20px 0;
    width: 100%;
    max-height: 100%;
}

#sidebar div p {
    padding: 10px;
}

#animal-card {
    max-height: 100%;
}
.card-footer > a {
    font-size: 1em;
}


@media (max-width: 768px) {
    #sidebar {
        margin-right: -300px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}