a{
    font-family: 'Raleway', sans-serif;
    color: #49484A;
    font-size: 23px;
}

#logo{
    font-family: 'Playfair Display', serif;
}

.navbar-brand{
    font-size: 27px;
}


#nav-line{
    border-bottom: 3px solid #E2252B;
}

#index-navbar{
    font-family: 'Playfair Display', serif;
    color: #49484A;
}

.nav-link {
    padding: 0.2rem 0rem;
}

#about-us-nav {
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.2);
    border-bottom: 5px solid #E2252B;
}

#heart{
    color: #E2252B;
}

.dropdown-item{
    color: #49484A;
    padding: 0;
}

#navbarDropdownMenuLink,
#navbarDropdownAnimalLink{
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
}

.login{
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
}


