html {
    padding-bottom: 100px;
}
body {
    background: #DAE3E7;
    font-family: 'Raleway', sans-serif !important;
}

div > h5 {
    font-size: 1.5em;
}
img{
    max-width:100%;
}

/*CARDS*/

div > .card-body {
    padding: 0;
    text-align: center;
}

/*CARD BUTTONS*/

.delete-button {
    font-size: 1em;
}

.btn-primary{
    background-color: #49484A !important;
    border-color: #49484A !important;
    border-radius: 4px !important;
    transition: .3s all ease;
}

.btn-primary:hover{
    background-color: #ad0d0d !important;
    transition: .3s all ease;
}
/*CARD BUTTONS END*/

.card-body > .card-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.card-footer > a {
    font-size: 1em;
}
.list-group > .list-group-item {
    font-size: 1em;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
}


.header {
    padding: 10px 0;
    background: #f5f5f5;
}

.container {
    margin-left: 0;
    margin-right: 0;
}
.row {
    margin-top: 20px;
    width: 100%;
}

.button-email{
    margin:10px 0
}


.find-more{
    text-align: right;
}

.label-theme{
    background: #3AAA64;
    padding: .3em .7em .3em;
    color: #fff;
    border-radius: .25em;
}

.label a{
    color: inherit;
}

a:hover {
    cursor: pointer;
}