body{
    background: #DAE3E7;
    font-family: 'Raleway', sans-serif;
}
img{
    max-width:100%;
}

.container {
    margin-left: 0;
    margin-right: 0;
}
.row{
    margin-top: 20px;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
}

.header {
    padding: 10px 0;
    background: #f5f5f5;
}

.button-email{
    margin:10px 0
}


.find-more{
    text-align: right;
}

.label-theme{
    background: #3AAA64;
    padding: .3em .7em .3em;
    color: #fff;
    border-radius: .25em;
}

.label a{
    color: inherit;
}

a:hover {
    cursor: pointer;
}