a{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #49484A;
    font-size: 4.5rem !important;
}

.navbar-brand{
    font-size: 27px;
}

nav{
    border-bottom: 5px solid #A24848;
}

#heart{
    color: #A24848;
}


/*EVERYTHING IN THE JUMBOTRON*/

#animal-jumbotron {
    box-sizing: border-box;
    border-bottom: 5px solid #49484A;
    padding-top: 40px;
    border-radius: 5px;
}

.dropdown{
    float: left;
}

#dropdownMenuButton{
    border: 5px solid #49484A;
    border-radius: 10px;
    width: 170px;
}

.search{
    float: right;
    border: 5px solid #49484A;
    border-radius: 10px;
    width: 220px;

}

h5{
    font-family: 'Playfair Display', serif;
}

.btn:hover {
    color: #027eba;
    background: #f0f0f0;
}

.card{
    border: #49484A;
}

.card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);
}

@media screen and (min-width:300px) and (max-width:550px) {
    h1{
        font-size: 3rem !important;
    }

    #dropdownMenuButton{
        border: none;
        border-radius: 10px;
        width: 90px;
        height: 35px;
    }

    .search{
        float: right;
        border: none;
        width: 142px;
    }
}

@media screen and (min-width:550px) and (max-width:780px) {
    #dropdownMenuButton{
        border: none;
        border-radius: 10px;
        width: 90px;
        height: 35px;
    }

    .search{
        float: right;
        border: none;
        border-radius: 10px;
        width: 160px;
    }
}