html {
    padding-bottom: 100px;
}

body {
    font-family: 'Raleway', sans-serif !important;

}

a{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 3em !important;
}

.navbar-brand{
    font-size: 27px;
}


#heart{
    color: #A24848;
}

div > .jumbotron {
    padding: 1em;
}

div > .card-body {
    padding: 0;
    text-align: center;
}
.delete-button {
    font-size: 1em;
}
.card-body > .card-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.card-footer > a {
    font-size: 1em;
}
.list-group > .list-group-item {
    font-size: 1em;
}



/*EVERYTHING IN THE JUMBOTRON*/

#animal-jumbotron {
    box-sizing: border-box;
    border-bottom: 2px solid #49484A;
    border-radius: 2px;
}

div > .jumbotron {
    padding: 1em;
    /*background-color: white;*/
}

#dropdownMenuButton{
    border: 5px solid #49484A;
    border-radius: 10px;
    width: 170px;
}

h5{
    font-family: 'Playfair Display', serif;
}

/*CARDS*/

div > .card-body {
    padding: 0;
    text-align: center;
}
.delete-button {
    font-size: 1em;
}
.card-body > .card-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.btn-primary{
    background-color: #49484A !important;
    border-color: #49484A !important;
    border-radius: 4px !important;
    transition: .5s all ease;
}

.btn-primary:hover{
    background-color: #ad0d0d !important;
    transition: .5s all ease;
}

.card-footer > a {
    font-size: 1em;
}
.list-group > .list-group-item {
    font-size: 1em;
}

/*.card:hover {*/
/*    !*transform: scale(1.05);*!*/
/*    -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);*/
/*    -moz-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);*/
/*    box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.4);*/
/*}*/

@media screen and (min-width:300px) and (max-width:550px) {
    h1{
        font-size: 3rem !important;
    }

    #dropdownMenuButton{
        border: none;
        border-radius: 10px;
        width: 90px;
        height: 35px;
    }

}

@media screen and (min-width:550px) and (max-width:780px) {
    #dropdownMenuButton{
        border: none;
        border-radius: 10px;
        width: 90px;
        height: 35px;
    }

}