<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main-navbar">
    <nav class="navbar sticky-top navbar-light bg-white" id="index-navbar">
        <p class="navbar-brand">ANIMAL<span id="heart" >HEART</span></p>
        <span class="d-flex flex-row bd-highlight mb-3">
            <a class="navbar-brand" href="/events/showAll">EVENTS</a>
            <a class="navbar-brand" href="/animals/showAll">VIEW ANIMALS</a>
            <a class="navbar-brand" href="/map" >MAP</a>
            <a class="navbar-brand" href="/messages">MESSAGES</a>
            <a class="navbar-brand" href="/index">LOGOUT</a>
        </span>
    </nav>
</th:block>
</html>