
h1{
    font-family: 'Playfair Display', serif;
    font-size: 6.5rem !important;
    color: #49484A;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #A74115;
}

a{
    font-family: 'Raleway', sans-serif;
}

.jumbotron{
    padding-top: 110px;
}

#top-line{
    margin-top: 72px;
}

#index-navbar {
    border-bottom: 3px solid #A4A3A4;
}

#index-jumbotron{
    border-bottom: 3px solid #A4A3A4;
}

#container-id{
    padding-top: 15px;
    padding-bottom: 20px;
}