h1{
    font-family: 'Playfair Display', serif;
    font-size: 6.5rem !important;
    padding-bottom: 55px;
    padding-top: 50px;
    color: #49484A;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-div{
    border-top: 10px solid #A74115;
}

form{
    padding-top: 75px;
}