h1{
    font-family: 'Playfair Display', serif;
    font-size: 6.5rem !important;
    padding-bottom: 55px;
    padding-top: 50px;
    color: #49484A;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-div{
    border-top: 10px solid #A74115;
}

form{
    padding-top: 75px;
}

input {
    width: 75%;
    padding: 20px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 5px solid #A4A3A4;
    border-radius: 15px;
    box-sizing: border-box;
    /*font-weight: bold;*/
    font-size: 20px;
}

#submit-btn{
    width: 25%;
    background-color: #C7D0D8;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    border: 5px solid #99a6b1;
    margin-bottom: 125px;
}

label{
    font-family: 'Raleway', sans-serif;
}

a{
    float: bottom;
    font-family: 'Raleway', sans-serif;
    color: #49484A;
    font-weight: bold;
    font-size: 23px;
}