a{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Playfair Display', serif;
}

.navbar-brand{
    font-size: 27px;
}

nav{
    border-bottom: 5px solid #A24848;
    margin-bottom: 5px;
}

#heart{
    color: #A24848;
}





