<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About-us</title>
    <link rel="stylesheet" th:href="@{/public/css/about-us.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>

<div class="container">
    <h1 class="text-center our-mission">ABOUT <span class="text-center" id="mission">US</span></h1>
    <p class="ml-3 mr-3 text-center our-mission">We are a group of dedicated Software Developers and this is our final project at Codeup. Animal Heart is a full-stack Java application that uses Spring to access a MySQL database. The front-end is primarily BootStrap with some of our own custom CSS. Some Javascript was used to add the Google Map API and interactivity.</p>

    <div class="container">

<!--        Jonathan Lemman Card-->
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 mb-3">
                <div class="profile-card shadow py-3 card text-center">
                    <div class="card-body py-4">
                        <img class="profile-picture rounded-circle" src="img/lemon.jpg" />
                        <h2 class="text-dark h5 font-weight-bold mt-4 mb-1">
                            Jonathan Lemman
                        </h2>
                        <p class="text-muted font-weight-bold small">
                            Software Developer
                        </p>

                        <h5 class="mt-4 pt-3 h6 text-muted mb-0">Get Connected</h5>
                        <div class="d-flex social-section justify-content-center">
                            <a class="shadow-sm" href="https://www.linkedin.com/in/jonathanlemman/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a class="shadow-sm" href="https://github.com/JonathanLemman" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="shadow-sm" href="https://alumni.codeup.com/students/700" target="_blank"><i class="fas fa-code"></i></a>
                        </div>
                    </div>
                </div>
            </div>
<!-- Kyndall Sims Card -->
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 mb-3">
                <div class="profile-card shadow py-3 card text-center">
                    <div class="card-body py-4">
                        <img class="profile-picture rounded-circle" src="img/kyndall.jpg" />
                        <h2 class="text-dark h5 font-weight-bold mt-4 mb-1">
                            Kyndall Sims
                        </h2>
                        <p class="text-muted font-weight-bold small">
                            Software Developer
                        </p>

                        <h5 class="mt-4 pt-3 h6 text-muted mb-0">Get Connected</h5>
                        <div class="d-flex social-section justify-content-center">
                            <a class="shadow-sm" href="https://www.linkedin.com/in/kyndall-sims-a40a16195/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a class="shadow-sm" href="https://github.com/Kyndall707" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="shadow-sm" href="https://alumni.codeup.com/students/699" target="_blank"><i class="fas fa-code"></i></a>
                        </div>
                    </div>
                </div>
            </div>
<!-- Ryan Smith Card -->
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 mb-3">
                <div class="profile-card shadow py-3 card text-center">
                    <div class="card-body py-4">
                        <img class="profile-picture rounded-circle" src="img/ryan.jpeg" />
                        <h2 class="text-dark h5 font-weight-bold mt-4 mb-1">
                            Ryan Smith
                        </h2>
                        <p class="text-muted font-weight-bold small">
                            Software Developer
                        </p>

                        <h5 class="mt-4 pt-3 h6 text-muted mb-0">Get Connected</h5>
                        <div class="d-flex social-section justify-content-center">
                            <a class="shadow-sm" href="https://www.linkedin.com/in/ryanlsmith142/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a class="shadow-sm" href="https://github.com/ryanlsmith142" target="_blank"><i class="fab fa-github"></i></a>
                            <a class="shadow-sm" href="https://alumni.codeup.com/students/718" target="_blank"><i class="fas fa-code"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 col">
                <img class="d-block mx-auto mx-md-0" src="img/testing.gif" alt="">
            </div>
            <div class="col-lg-8 col-md-6 col">
                <h2 class="text-center">Test Driven Development</h2>
                <p class="our-mission">Test-driven development (TDD) is a new part of Codeup's curriculum. It's a way to develop software where you write the test, let it fail and then go write the code to make it work. Though on the surface it may appear that it takes more time, we saw that it wasn't the case. There were three main things that we noticed from TDD. First, it forces you to think through problems from beginning to end. Second, when passing code to your teammates, there's almost instant proof that the application can run before having to go through time consuming manual testing of your site. And third, it allows back-end developers and front-end developers to effectively work independently of each other. What you're seeing are the actual tests run in our application, we didn't find them on YouTube.</p>
            </div>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>