<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <title>Animal Profile</title>
    <th:block th:replace="fragments/header :: main-header" />
    <link rel="stylesheet" href="../css/animal-profile.css">
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
    <div class="container-fluid">
        <div class="row">
            <div id="pet-pic" class="col-5">
            <img src="../static/img/signup-dog.jpg">
            </div>
        </div>

        <div class="col-7">
            <div class="row-3">
                <h2>MEET <span th:text="${animal.name}">DUKE</span></h2>
                <span th:text="${animal.age}" >age</span>
                <span th:text="${animal.size}" >size</span>
                <span th:text="${animal.type}" >type</span>
            </div>
            <div class="row-9">
                <form th:action="@{'/delete-animal' + ${animal.id}}" method="post">
                    <button>Delete</button>
                </form>
                <form th:action="@{'/animal' + ${animal.id} + '/edit'}" method="post">
                    <button>Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>