<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" href="css/index.css">-->
    <title>AnimalHeart</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<!--    connections to different pages here-->

    <nav class="navbar fixed-top navbar-light bg-white" id="index-navbar" >
        <a class="navbar-brand" href="">View Animals</a>
      <span class="d-flex flex-row bd-highlight mb-3">
          <a class="navbar-brand" href="/sign-up">Sign Up</a>
          <a class="navbar-brand" href="/login">Login</a>

      </span>
    </nav>


    <header class="jumbotron my-1 bg-white" id="index-jumbotron" >
        <h1 class="display-3 text-center">ANIMALHEART</h1>
        <p class="text-center">GIVING <span>SAN ANTONIO</span> PETS A SECOND CHANCE AT LIFE</p>
    </header>

    <div id="container-id" class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img  id="img1" src="img/jack-dog.jpg" width="475" height="600" alt="dog outside">
            </div>
            <div class="col-4">
                <img id="img2"  src="img/cat.jpg" width="475" height="600"  alt="cat">
            </div>
            <div class="col-4">
                <img id="img3"  src="img/golden-dog.jpg" width="475" height="600"  alt="dog outside">
            </div>
        </div>
    </div>


    <nav class="navbar fixed-bottom navbar-light bg-white">
        <a class="navbar-brand" href="#">About Us</a>
    </nav>

</body>
</html>