<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Title</title>
</head>
<body>

    <div class="container-fluid" id="h1-border">
        <div class="row">
            <div class="col-8">
                <h1 class="text-center">MEMBER LOGIN</h1>
                <div class="form-group text-center" id="form-div" >
                    <form th:action="@{/login}" method="post">
                        <input id="username" name="username" type="text" placeholder="USERNAME" />
                        <input id="password" name="password" type="password" placeholder="PASSWORD" />
                        <input id="submit-btn" type="submit" value="Log In"/>
                    </form>
                    <a href="/">HOME</a>
                </div>
            </div>

            <div class="col-4">
                <img id="img"  src="img/login-dog-cat.jpg" width="475" height="300"  alt="animal-pals">
                <img  id="img" src="img/login-cat.jpg" width="475" height="300" alt="calico-cat">
                <img  id="img" src="img/login-dog.jpg" width="475" height="300" alt="black-lab">
            </div>
        </div>
    </div>

</body>
</html>