<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="../static/css/organization-profile.css">
    <title>Organization Profile</title>
    <th:block th:replace="fragments/header :: main-header" />
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
    <div class="container-fluid" id="h1-border">
        <div class="row">
            <div id="org-pic" class="col-5">
                <h1 class="text-center" th:text="${organizationProfile.name}" >Organization's Profile</h1>
                <div class="form-group text-center" id="form-div" >
                    <img id="img"  src="../static/img/login-dog-cat.jpg" width="475" height="300"  alt="animal-pals">
                </div>
                <input id="edit-btn" type="submit" value="EDIT"/>
                <input id="delete-btn" type="submit" value="DELETE"/>
            </div>
            <div class="col-7">
                <h3>YOUR PETS</h3>
                <input id="pet-btn" type="submit" value="ADD PET"/>
<!--                <div class="card" style="width: 12rem; height: 12rem;">-->
<!--                    <img src="/static/img/signup-cat.jpg" height="150" width="150" class="card-img-top" alt="">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title" th:text="@{animal.name}" >Card title</h5>-->
<!--                        <a href="" class="btn" id="delete">X</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                http://localhost:8080/organization-profile/3-->

                <div class="d-flex">
                    <div class="card" style="width: 18rem;"  th:each="animal : ${animals}">
                        <img th:src="${animal.img}" height="150" width="150" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Name: ' + ${animal.name}">Animal Name</h5>
                            <p class="card-text" th:text="'Type: ' + ${animal.type}">Animal Type</p>
                            <p class="card-text" th:text="'Size: ' + ${animal.size}">Animal Size</p>
                            <p class="card-text" th:text="'Age: ' + ${animal.age}">Animal Age</p>
                            <a href="" class="btn">VIEW ANIMAL</a>
                            <a href="" class="btn" id="delete">X</a>
                            <!-- Button trigger modal -->
                            <form th:action="@{'/animal' + ${animal.id} + '/edit'}" method="post" >
                            <a href="" class="btn" data-toggle="modal" data-target="#exampleModal" id="edit">EDIT</a>
                            </form>
                        </div>
                    </div>
                </div>

                <h3>EVENTS</h3>
                <input id="event-btn" type="submit" value="ADD EVENT"/>
                 <div class="card" style="width: 12rem; height: 12rem;">
                    <img src="/static/img/signup-cat.jpg" height="150" width="150" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="@{event.name}" >Card title</h5>
                        <a href="" class="btn" id="delete2">X</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- include the JS file with the AJAX request -->
<script src="/js/main.js"></script>

</body>

</html>