<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="../css/sign-up.css">
    <title>Sign Up</title>
</head>
<body>

    <div class="container-fluid" id="h1-border">
        <div class="row">
            <div class="col-8">
                <h1 class="text-center">USER REGISTER</h1>
                <div class="form-group text-center" id="form-div" >
                    <form th:action="@{/sign-up}" th:method="post" th:object="${user}">
                        <input id="username" th:field="*{username}" type="text" placeholder="USERNAME" />
                        <input id="email" th:field="*{email}" type="text" placeholder="EMAIL" />
                        <input id="password" th:field="*{password}" type="password" placeholder="PASSWORD" />
                        <p>Are you a rescue organization?</p>
                        <select th:name="*{isOrganization}">
                            <option th:value="${false}" th:text="No"></option>
                            <option th:value="${true}" th:text="Yes"></option>
                        </select>
                        <input id="submit-btn" type="submit" value="SIGN UP"/>
                    </form>
                        <div class="row-2">
                            <a id="home" href="/">HOME</a>
                        </div>
                </div>
            </div>

            <div class="col-4">
                <img class="img" src="img/signup-paw.jpg" width="475" height="310" alt="cat-paw">
                <img class="img" src="img/signup-cat.jpg" width="475" height="310" alt="white-cat">
                <img class="img" src="img/signup-dog.jpg" width="475" height="310" alt="french-bulldog">
            </div>
        </div>
    </div>

</body>
</html>