<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/public/css/organization-profile.css}">
    <title>User Profile</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>

<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
<div class="container-fluid" id="h1-border">
    <div class="row">
        <div id="org-pic" class="col-5">
            <h1 class="text-center" th:text="${userProfile.firstName}">User's Profile</h1>
            <div class="form-group text-center" id="form-div">
                <img id="img" src="../static/img/login-dog-cat.jpg" width="475" height="300" alt="animal-pals">
            </div>

            <!--            MODAL TRIGGERS-->
            <th:block sec:authorize="isAuthenticated()">
                <th:block th:if="${userProfile.user.id == #authentication.principal.id}">
                    <div>
                        <input id="edit-btn" type="submit" data-toggle="modal" data-target="#edit-user-Modal" value="EDIT PROFILE"/>
                        <input id="pet-btn" type="submit" data-toggle="modal" data-target="#add-pet-Modal" value="ADD PET"/>
                    </div>
                </th:block>
            </th:block>
        </div>
        <div class="col-7">
            <h3>YOUR PETS</h3>
            <div class="d-flex">
                <div class="card" style="width: 18rem;" th:each="animal : ${animals}">
                    <img th:src="${animal.img}" height="150" width="150" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Name: ' + ${animal.name}">Animal Name</h5>
                        <a th:href="@{'/animal/' + ${animal.id}}" class="btn">VIEW ANIMAL PROFILE</a>
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block th:if="${animal.user.id == #authentication.principal.id}">
                                <form th:action="@{'/delete-animal/' + ${animal.id}}" th:method="post">
                                    <button type="submit">Delete</button>
                                </form>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            <h3>Your Events</h3>
            <div class="d-flex">

                        <div class="card" style="width: 18rem;" th:each="event : ${events}" >
                            <img  height="150" width="150" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'Title: ' + ${event.title}">Event Title</h5>
                                <p class="card-text" th:text="'Location: ' + ${event.location}">Location</p>
                                <a th:href="@{'/event-profile/' + ${event.id}}" class="btn">VIEW Event PROFILE</a>
                                <th:block sec:authorize="isAuthenticated()">
                                    <th:block th:if="${event.user.id == #authentication.principal.id}">
                                        <form th:action="@{'/event/' + ${event.id} + '/delete'}" th:method="post">
                                            <button type="submit">DELETE EVENT</button>
                                        </form>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>

<!------------------------------------------------------>

<header class="header">
    <div class="container">
        <div class="teacher-name">
            <div class="row">
                <div class="col-sm-9">
                    <h2><strong th:text="${organizationProfile.name}">Rescue Name</strong></h2>
                    <h5 class="text-muted">Animal Organization</h5>
                    <div class="button pull-right">
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block th:if="${organizationProfile.organization.id == #authentication.principal.id}">
                                <div>
                                    <input class="btn btn-outline-success btn-sm" id="edit-btn" type="button" data-toggle="modal" data-target="#edit-profile-Modal" value="EDIT PROFILE"/><i class="fa fa-pencil"></i>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-sm-3">
                <img class="img-thumbnail" src="../img/san-antonio-animal-shelter.jpg" alt="User" >
            </div>

            <div class="col-sm-6">
                <p th:text="${organizationProfile.description}"></p>
            </div>

            <div class="col-sm-3 text-center">
                <th:block sec:authorize="isAuthenticated()">
                    <form th:action="@{'/follower/' + ${organizationProfile.organization.id}}" th:method="post">
                        <button class="btn btn-outline-success btn-block mb-2" type="submit">Follow</button>
                    </form>
                    <th:block th:each="follower : ${followerList}">
                        <th:block th:if="${follower.getFollowerId() == #authentication.principal.id && follower.getUser().getId() == organizationProfile.organization.id}">
                            <form th:action="@{'/follower/' + ${#authentication.principal.id} + '/' + ${organizationProfile.organization.id} + '/delete'}" th:method="post">
                                <button class="btn btn-outline-danger btn-block" type="submit">UnFollow</button>
                            </form>
                        </th:block>
                    </th:block>
                </th:block>
            </div>

        </div>
    </div>
</header>

<div class="container">
    <div class="row d-flex justify-content-start">
        <h5 class="mr-4">Available Animals</h5>
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:if="${organizationProfile.organization.id == #authentication.principal.id}">
                <div>
                    <span><input class="btn btn-success btn-sm mb-2" id="pet-btn" type="submit" data-toggle="modal" data-target="#add-pet-Modal" value="ADD ANIMAL"/></span>
                </div>
            </th:block>
        </th:block>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="card" style="width: 18rem;"  th:each="animal : ${animals}">
            <img src="../img/signup-dog.jpg" height="150" width="150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="'Name: ' + ${animal.name}">Animal Name</h5>
                <p class="card-text" th:text="'Type: ' + ${animal.type}">Animal Type</p>
                <p class="card-text" th:text="'Size: ' + ${animal.size}">Animal Size</p>
                <p class="card-text" th:text="'Age: ' + ${animal.age}">Animal Age</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary text-white btn-sm mb-2" th:href="@{'/animal/' + ${animal.id}}">ANIMAL PROFILE</a>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${animal.user.id == #authentication.principal.id}">
                        <form th:action="@{'/delete-animal/' + ${animal.id}}" th:method="post">
                            <button class="btn btn-danger btn-sm" type="submit">Delete Animal</button>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>  <!-- end of card -->
    </div>

    <div class="row d-flex justify-content-start">
        <h5 class="mr-4">Upcoming Events</h5>
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:if="${organizationProfile.organization.id == #authentication.principal.id}">
                <div>
                    <span><input class="btn btn-success btn-sm mb-2" id="event-btn" type="submit" data-toggle="modal" data-target="#add-event-Modal" value="ADD EVENT"/></span>
                </div>
            </th:block>
        </th:block>
    </div>

    <div class="row d-flex justify-content-between">
        <div class="card" style="width: 18rem;" th:each="event : ${usersEvents}">
            <img src="../img/signup-dog.jpg" height="150" width="150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="${event.title}">Card title</h5>
                <p class="card-text" th:text="'Location: ' + ${event.location}">Location</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary text-white btn-sm mb-2" th:href="@{'/event-profile/' + ${event.id}}">EVENT PROFILE</a>
                <th:block sec:authorize="isAuthenticated()">
                    <th:block th:if="${event.user.id == #authentication.principal.id}">
                        <form th:action="@{'/event/' + ${event.id} + '/delete'}" th:method="post">
                            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div> <!-- end of card -->
    </div>

</div> <!-- end of container div -->

<!--MODALS-->

<!--USER EDIT PROFILE MODAL-->

<div class="modal fade" id="edit-user-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{'/profile/' + ${userProfile.id} + '/edit'}" th:method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-profile-ModalLabel">EDIT PROFILE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="edit-first-name">First Name</label>
                    <input id="edit-first-name" class="form-control" name="firstName" th:value="${userProfile.firstName}" type="text">
                </div>
                <div class="form-group">
                    <label for="edit-last-name">Last Name</label>
                    <input id="edit-last-name" class="form-control" name="lastName" th:value="${userProfile.lastName}" type="text">
                </div>
                <div class="form-group">
                    <label for="edit-location">Address</label>
                    <input id="edit-location" class="form-control" name="address" th:value="${userProfile.address}" type="text">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>


<!--ADD ANIMAL MODAL-->

<div class="modal fade" id="add-pet-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{/create-animal}" th:method="post" th:object="${animal}" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-pet-ModalLabel">NEW PET</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="edit-animal">Name</label>
                    <input id="edit-animal" class="form-control" th:field="*{name}" type="text">
                </div>
                <div class="form-group">
                    <label for="edit-type">Type</label>
                    <input id="edit-type" class="form-control" th:field="*{type}" type="text">
                </div>
                <div class="form-group">
                    <label for="edit-size">Size</label>
                    <input id="edit-size" class="form-control" th:field="*{size}" type="text">
                </div>
                <div class="form-group">
                    <label for="edit-age">Age</label>
                    <input id="edit-age" class="form-control" th:field="*{age}" type="text">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Animal</button>
            </div>
        </form>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>