<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Rescues</title>
    <link rel="stylesheet" th:href="@{/public/css/view-animals.css}">
    <th:block th:replace="fragments/header :: main-header" />
</head>
<body>

<th:block th:replace="fragments/navbar :: main-navbar"/>
<div class="container-fluid px-0" id="h1-border">
    <header class="jumbotron d-flex flex-column" id="animal-jumbotron">
        <div>
            <h1 class="text-center white">RESCUES</h1>
        </div>
    </header>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 mb-3 d-flex justify-content-center" th:each="organization : ${organizations}">
                <div class="d-flex justify-content-around">
                    <div class="card shadow" style="min-width: 18rem; max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title mb-0" id="event-card" th:text="${organization.name}">Rescue Name</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item truncate"><span class="" th:text="${organization.description}">Description</span></li>
                                <li class="list-group-item truncate"><span class="" th:text="${organization.address}">Description</span></li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex flex-column justify-content-center">
                            <a class="btn btn-primary text-white btn-sm" th:href="@{'/organization-profile/' + ${organization.id}}">VIEW RESCUE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/about-us-footer :: about-us-footer"/>
<th:block th:replace="fragments/footer :: main-footer"/>
<!-- include the JS file with the AJAX request -->
<script src="/js/main.js"></script>
</body>
</html>
