<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Available Animals</title>
    <link rel="stylesheet" th:href="@{/public/css/view-animals.css}">
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: main-navbar"/>
<div class="container-fluid" id="h1-border">
    <header class="jumbotron my-1 bg-white" id="animal-jumbotron">
        <h1 class="text-center">AVAILABLE ANIMALS</h1>

        <!--        hoping to use this similarly to how the coffee projects filter works-->
        <div class="dropdown">
            <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                FILTER
            </button>
            <div class="dropdown-menu myInput2" aria-labelledby="dropdownMenuButton">
                <!--                <a class="dropdown-item">All</a>-->
                <a class="dropdown-item">Large</a>
                <a class="dropdown-item">Small</a>
                <a class="dropdown-item">Medium</a>
                <a class="dropdown-item">Dog</a>
                <a class="dropdown-item">Cat</a>
                <a class="dropdown-item">Exotic</a>
            </div>
        </div>

        <div class="search">
            <input id="myInput" type="text" placeholder="Search.." name="search">
        </div>

    </header>

    <div class="row d-flex justify-content-between flex-wrap">
        <div class="card m-3" style="width: 18rem;"  th:each="animal : ${animalList}">
            <img src="../img/signup-dog.jpg" height="150" width="150" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="'Name: ' + ${animal.name}">Animal Name</h5>
                <p class="card-text" th:text="'Type: ' + ${animal.type}">Animal Type</p>
                <p class="card-text" th:text="'Size: ' + ${animal.size}">Animal Size</p>
                <p class="card-text" th:text="'Age: ' + ${animal.age}">Animal Age</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary text-white btn-sm mb-2" th:href="@{'/animal/' + ${animal.id}}">ANIMAL PROFILE</a>
            </div>
        </div>  <!-- end of card -->
    </div>
</div>

<th:block th:replace="fragments/about-us-footer :: about-us-footer"/>
<th:block th:replace="fragments/footer :: main-footer"/>
<!-- include the JS file with the AJAX request -->
<script src="/js/main.js"></script>
</body>
</html>